.layout-container {
  background-color: #475569;
  height: 25vh;
  padding-top: 10px;
}
.controller-container {
  margin-left: 30px;
}
.layout-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 30px;
}
.content {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .layout-heading {
    font-size: 38px;
  }
  .layout-container {
    height: 30vh;
  }
}
